//base
@import "base/reset";
//components
@import "components/footer";
@import "components/navbar";
//layout
@import "layout/index";


@media (max-width: 447px){
    .sec-art img{
        display: none;
    }

    .sec-contact h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
}